<h1 class="text-center">wave music guide</h1>
<div class="container">
  <div class="row">
    <div class="column">
<ul class="producers">
  <li *ngFor="let producer of producers"
    [class.selected]="producer === selectedProducer"
    (click)="onSelect(producer)">
   {{producer.name}} <img class="producer-image" src={{producer.imageUrl}}/>
  </li>
</ul>
</div>
<div *ngIf="selectedProducer">
 
  <h2>{{selectedProducer.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedProducer.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedProducer.name" placeholder="name">
    </label>
  </div>
 
</div>
</div>
</div>