.producer-image {
    width: 190px;
    height: 190px;
    border-radius: 50%; 
}

ul {
  width: 100%;
}

li {
  display: inline-block;
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 12px;
  
}

.producer-name {
display: block;
}

h1 {
  padding-top: 5px;
}
h4 {
  padding-bottom: 45px;
  padding-top: 15px;
}