<h1 class="text-center">wave music guide</h1>
<h4 class="text-center">discover best producers of the genre</h4>
<div class="container">
  <div class="col">
<ul class="producers">
  <li *ngFor="let producer of producers"
    [class.selected]="producer === selectedProducer"
    (click)="onSelect(producer)">
  <img class="producer-image" src={{producer.imageUrl}}/><caption class="text-center producer-name">{{producer.name}} </caption>
  </li>
</ul>
</div>
<app-producer-details [producer]="selectedProducer"></app-producer-details>
</div>
